<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>회원가입</title>
    </head>
    <body>
        <input type="text" id="username" placeholder="이름입력" />
        <input type="text" id="age" placeholder="나이입력" />
        <input type="text" id="id" placeholder="아이디입력" />
        <input type="text" id="pw" placeholder="비밀번호입력" />
        <button id="send">제출</button>
    </body>
    <script>
        document.querySelector("#send").addEventListener("click", () => {
            const id = document.querySelector("#id").value;
            const password = document.querySelector("#pw").value;
            const age = document.querySelector("#age").value;
            const username = document.querySelector("#username").value;

            const formData = new FormData();
            formData.append("id", id);
            formData.append("password", password);
            formData.append("age", age);
            formData.append("username", username);

            fetch("http://localhost:3000/api/register", {
                method: "POST",
                headers: {
                    "Content-Type": "application/x-www-form-urlencoded",
                },
                body: formData,
            });
        });
    </script>
</html>
